*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 3, 219);
}

h1 {
    color:#000000; 
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

nav ul li a {
    margin-right: 20px;
    text-decoration: none;
    font-family: "Segoe UI ", sans-serif;
    font-size: 18px;
    color: black;
}

nav ul li:hover { 
    color: black
}